*{
    padding: 0;
    margin: 0;
}


/* nav{
    height: 100%;
    width: 100%;
    align-items: center;
} */
.napisynav{
    position: absolute;
    top: 25%;
    right: 10%; 
    display: flex;
    flex-direction: row; 
    color: white;
    line-height: 1.1;
}
.picture1{
    filter: brightness(60%);
}
.logo{
    font-size: 60px;
    text-align: right;
    border-right: solid 6px;
    padding-right: 20px;
    margin-right: 20px;
    font-family: 'Saira Condensed', sans-serif;

}
.dopisek{
    font-size: 60px;
    text-align: left;
}


nav .rectangle{
    font-size: 30px;
    display: flex;
    flex-direction: row;
    text-align: center;
    color: #555;
    width: 70%;
    justify-content: space-between;
    margin-right: 15vw;
    margin-left: 15vw;
    margin-top: 120px;
    margin-bottom: 100px;
    padding-bottom: 40px;
    font-family: cursive;
    
}

/* ////////////////////////////////////////////////////////////////////////////////// */
article{
    width: 100vw;
    height: 100vw;
    /* background-color:teal; */
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
}
.rectangle1{
    width: 70vw;
    height: 20vw;
    background-color: #416496;
    flex-direction: row;
    padding-left: 15vw;
    color: white;
    text-align: justify;  
    margin-bottom: 50px;
    
}

.jpg1{
    width: 20vw;
    height: 20vh;
    background-image: url(img/pic1.jpg);
    background-size: 200%;
    background-position: center;
    float: right;
    display: flex;
}
.text1{
    margin-right: 21vw;
}
h1{
    font-size: 30px;
    padding-top: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    text-align: right;
    
}
.a1{
    padding-bottom: 300px;
    font-size: 15px;
    text-align: right;
}







.rectangle2{
    width: 85vw;
    height: 20vw;
    background-color: #416496;
    flex-direction: row;
    /* padding-left: 15vw; */
    margin-left: 15%;
    color: white;
    text-align: justify;  
    margin-bottom: 50px;
    
}

.jpg2{
    width: 20vw;
    height: 20vh;
    background-image: url(img/pic1.jpg);
    background-size: 200%;
    background-position: center;
    float: left;
    display: flex;
}

.text2{
    margin-left: 21vw;
    margin-right: 15vw;
}


.rectangle3{
    width: 70vw;
    height: 20vw;
    background-color: #416496;
    flex-direction: row;
    padding-left: 15vw;
    color: white;
    text-align: justify;  
    margin-bottom: 50px;
    
}
.jpg3{
    width: 20vw;
    height: 20vh;
    background-image: url(img/pic1.jpg);
    background-size: 200%;
    background-position: center;
    float: right;
    display: flex;
}
.text3{
    margin-right: 21vw;
}

.rectangle4{
    width: 85vw;
    height: 20vw;
    background-color: #416496;
    flex-direction: row;
    /* padding-left: 15vw; */
    margin-left: 15%;
    color: white;
    text-align: justify;  
    margin-bottom: 50px;
    
}

.jpg4{
    width: 20vw;
    height: 20vh;
    background-image: url(img/pic1.jpg);
    background-size: 200%;
    background-position: center;
    float: left;
    display: flex;
}

.text4{
    margin-left: 21vw;
    margin-right: 15vw;
}







.icon-users,
.icon-folder-open,
.icon-calendar,
.icon-mail{
    border-bottom: 5px solid white  ;
    padding-bottom: 30px;
}
.onas:hover, 
.oferta:hover,
.umow:hover,
.kontakt:hover {
    color: black;
    cursor: pointer;
}
.onas:hover .icon-users,
.oferta:hover .icon-folder-open,
.umow:hover .icon-calendar,
.kontakt:hover .icon-mail{
    border-color: #555;
}




