*{
    margin: 0;  
    padding: 0;
    font-family: 'Roboto Condensed',sans-serif;
}
.logo1{
    border-radius: 50%;
    background-image: url('images/logo.jpg');
    background-position: center ;
    background-size: 200%;
    width: 50px;
    height: 50px;
    float: left;
    margin: 0 10px 0 30px ;   
    border-top: none;
    position: absolute;
    top: 0px;
    left: 10px;
}
    .logo1:hover{
    animation: obrot 2s;
    cursor: pointer;
    width: 53px;
    height: 53px;

    
}
.napislogo{
    float: left;
    text-align: left;
    margin: 5px 100px 0;
    font-weight: bold;
    color: white;
    
}

nav{
    max-width: 4000;
    max-height: 50px;
    text-align: right;
    background-color: grey;
    padding: 0px 0px ;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    /* patent zeby pasek nav nie znikal */

}

nav a{
    display: inline-block;
    color: white;
    font-weight: lighter;
    text-decoration: none;
    margin: 0 40px 0 0;
    font-size: 70%;
    text-transform: uppercase;
    padding: 15px;
    transition: 0.2s; 
    border-top: 3px solid transparent; 
    box-sizing: border-box;
    height: 50px;
}
nav a:hover{
    border-top: 3px solid black;
    animation: obrot 2s   ;
    font-size: 73%;
}
.p1l{
  margin: 60px 130px 30px 130px ;
}
@keyframes lataj{
    0%{
        top: 0;
        left: 25px;
    }

    50%{
        top: 0;
        left: 125px;
    }

    100%{
        top: 0;
        left: 25px;
    }
}
@keyframes obrot{
    /* 0%{
        transform:rotate(0deg)
    } */

    
    50%{
        transform: rotate(-5deg);
    }
    /* 100%{
        transform: rotate(0deg);
    } */


}
@media(max-width:411px){
    .napislogo{
        display: block;
        float: top;
    }

    nav a{
        display: block;
        text-align: left;
        margin:  0 0 0 50% ;
        background-position-y: 0 0 0 50%;
    }
   
}

